
.Header
{
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#mdnLogo
{
    size: 100%;
    border-style: solid;
    border-color: red;
    padding: 10px;
    flex-grow: 0.5;
    width: 219px;

}
#Header-Nav
{
    padding: 10px;
    size: 100%;
    border-style: solid;
    border-color: green;
    flex-grow: 3;
}
#signin
{
    padding: 10px;
    size: 100%;
    border-style: solid;
    border-color: blue;
    flex-grow: 1;
}
#icon-search
{
    padding: 10px;
    border-style: solid;
    border-color: peru;
    flex-grow: 1;
}
#icon-github, #icon-search
{
    width: 25px;
    height: 25px;
}
#signin p
{
    float: left;
    margin-top: 5;
    margin-right: 5;
}